DOIT_CONFIG = {
    "backend": "json",
    "default_tasks": ["check"],
    "dep_file": ".doit.json",
    "verbosity": 2,
}


def task_check():
    return {
        "actions": [
            "uv run ruff check src/{{project_identifier}}{%if 'pytest' in tools %} tests{% endif %}",
            "uv run ruff format --check src/{{project_identifier}}{%if 'pytest' in tools %} tests{% endif %}",
            "uv run ty check src/{{project_identifier}}{%if 'pytest' in tools %} tests{% endif %}",
        ],
    }
{%- if 'pytest' in tools %}


def task_test():
    return {
        "actions": [
            "uv run pytest",
        ],
    }
{% endif -%}
{%- if 'githooks' in tools %}


def task_install_hooks():
    import os

    actions = ["git config core.hooksPath .githooks"]
    if os.name == "posix":
        actions.append("chmod +x .githooks/*")
    return {
        "actions": actions,
    }
{% endif -%}
